pre,
code {
    font-family: $monospaced;
}

code {
    background-color: $code-back;
    border-radius: 3px;
    color: $code-color;
    font-size: 90%;
    padding: .25em .5em;
}

pre {
    margin: 0 0 1rem;
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 90%;
    // font-size: 100%;
    padding: 0;
}

div.highlighter-rouge {
    position: relative;
    margin: 2em 0 2.5em 0;
}

/* 무슨 코드인지 알려주려고 */
.highlighter-rouge:before {    
    position: absolute;
    top: -1.2em;
    left: .7em;
    color: #a9a9a9;
    font-size: .89em;
    text-decoration: underline;
}

.language-bash:before { content: "BASH"; }
.language-json:before { content: "JSON"; }
.language-sql:before { content: "SQL"; }
.language-javascript:before { content: "JAVASCRIPT"; }
.language-php:before { content: "PHP"; }
.language-python:before { content: "PYTHON"; }

/* 코드 복사 버튼 */
.highlighter-copy {
	position: absolute;
	cursor: pointer;
	font-size: 1.3em;
	color: #f3f3f3;
	top: .5em;
	right: .5em;
	border: none;
}

.highlighter-copy:hover {
	color: #a07fff;
}

.highlight {
    background-color: $code-back;
    border-radius: 10px;
    line-height: 1.4;
    margin: 0 0 1rem;
    padding: .5rem;

    pre {
        margin-bottom: 0;
        overflow-x: auto;
    }

    // .lineno {
    //   color: $default-tint;
    //   display: inline-block; // Ensures the null space also isn't selectable
    //   padding: 0 .75rem 0 .25rem;
    //   // Make sure numbers aren't selectable
    //   -webkit-user-select: none;
    //      -moz-user-select: none;
    //           user-select: none;
    // }

    .w {
        color: #d0d0d0;
    }
    .err {
        color: #151515;
        background-color: #ac4142;
    }
    .c, .cd, .cm, .c1, .cs {
        color: #888;
    }
    .cp {
        color: #f4bf75;
    }
    .nt {
        color: #f4bf75;
    }
    .o, .ow {
        color: #9a9a9a;
    }
    .p, .pi {
        color: #d0d0d0;
    }
    .gi {
        color: #90a959;
    }
    .gd {
        color: #ac4142;
    }
    .gh {
        color: #6a9fb5;
        font-weight: bold;
    }
    .k, .kn, .kp, .kr, .kv {
        color: #aa759f;
    }
    .kc {
        color: #d28445;
    }
    .kt {
        color: #d28445;
    }
    .kd {
        color: #d28445;
    }
    .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 {
        color: #90a959;
    }
    .sr {
        color: #75b5aa;
    }
    .si {
        color: #8f5536;
    }
    .se {
        color: #8f5536;
    }
    .nn {
        color: #f4bf75;
    }
    .nc {
        color: #f4bf75;
    }
    .no {
        color: #f4bf75;
    }
    .na {
        color: #6a9fb5;
    }
    .m, .mf, .mh, .mi, .il, .mo, .mb, .mx {
        color: #90a959;
    }
    .ss {
        color: #90a959;
    }
}

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
