.post {
    padding: 3rem 0;

    hr {
        border: 1px solid #7b7b7b;
    }

    &-info {
        color: $default-tint;
        font-family: $serif-secondary;
        letter-spacing: 0.5px;
        text-align: center;

        span {
            font-style: italic;
        }
    }

    &-title {
        color: $default-shade;
        font-family: $sans-serif;
        font-size: 2.5rem;
        margin: 1rem 0;
        text-align: center;
    }

    &-line {
        border-top: 0.4rem solid $default-shade-dark;
        display: block;
        margin: 0 auto 6rem;
        width: 4rem;
    }

    &-line-bottom {
        border-bottom: 1px solid #3f5161;
        display: block;
        margin: 6rem auto 0;
    }

    &-footer {
        overflow: hidden;

        div {
            width: 32.5%;
            float: left;
            margin-right: 1%;
            margin-bottom: 3%;
        }
        
        div > p {
            margin: 0;
        }
        
        div:last-child {
            margin-right: 0;
        }
        
        h2 {
            margin: 2em 0 .3em;
        }
        
        .post-tag > a:before {
            content: '#';
        }
    }

    p {
        margin: 0 0 1rem;
        text-align: justify;

        .highlighter-rouge {
            border-radius: 3px;
            color: $layout-point;
            font-size: 85%;
            padding: 0.25em 0.5em;
        }
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        margin: 0 auto 0.5rem;
        box-shadow: 3px 5px 15px 1px rgba(37, 33, 33, 0.8);
    }

    img + em {
        color: $default-tint;
        display: block;
        font-family: $sans-serif;
        font-size: 0.9rem;
        font-style: normal;
        text-align: center;
    }

    // CSS for making emoji inline
    img.emoji {
        display: inline-block;
        left: 0;
        transform: none;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
        padding: 0;
        margin: 0;
    }
    
    h1 {
        color: #efbebe;
        margin: 2rem 0 1rem 0;
    }

    h2 {
        color: #a0adec;
        margin: 2rem 0 1rem 0;
    }

    h3 {
        color: #7b7b7b;
        margin: 1rem 0 .5rem 0;
    }

    .fa-feather:before {
        padding-right: .5rem;
    }
    
    ul > li > .highlighter-rouge {
        border-radius: 3px;
        color: $layout-point;
        font-size: 85%;
        padding: 0.25em 0.5em;
    }

    ul.posts-list {
        list-style-type: decimal-leading-zero;
        margin: 0;
        padding: 0 1.65em;
        width: 100%;

        li {
            margin: .25em 0;
        }

        small {
            color: $layout-point;
        }
    }
    
    /* 댓글 */
    .utterances {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 660px) {
    .post {
        &-footer {
            div {
                width: 100%;
                margin: 1rem 0;
            }
        }

        &-title {
            font-size: 2rem;
        }
    }
}
